# Object Oriented Programming

- python allows to write in object, and actual opperation developper writen in oop


> class<br>
template definition of the method s and variable s in a particular kind of object (like integer, string, float, list, tuple)


> object<br>
object is variable of class. we can define with real world entity that you will able to specify, variable of classes (like car for audi, fortuner, lambo) or (a in a=10 for int class)

In [1]:
class car :
    pass

In [2]:
audiq7 = car()

In [4]:
audiq7 # its an object or variable of class car

In [5]:
audiq7.milage = 10
audiq7.year = 2020
audiq7.make = 345
audiq7.model = 's'

In [6]:
audiq7.milage

10

In [7]:
audiq7.year

2020

In [8]:
nano = car()

In [9]:
nano.milage = 20
nano.year = 2021
nano.make = 234
nano.model = 'm'
nano.enginno = 1235223

- init function is to pass data to class, provider data to class 
- self is pointer to itself

In [11]:
class car:
    def __init__(self, milage, year, make, model):
        self.milage = milage
        self.year = year
        self.make = make
        self.model = model

In [13]:
 nano1 = car()

TypeError: __init__() missing 4 required positional arguments: 'milage', 'year', 'make', and 'model'

In [16]:
nano1 = car(20, 2020, 35657, 'm')

In [15]:
audiq71 = car(30, 2021, 35876, 's')

In [17]:
nano1.milage

20

In [18]:
class car:
    def __init__(a, milage, year, make, model):
        a.milage = milage
        a.year = year
        a.make = make
        a.model = model

In [19]:
audiq71 = car(30, 2021, 35876, 's')

In [20]:
audiq71.model

's'

In [21]:
class car:
    def __init__(a, b, c, d, e):
        a.milage = b
        a.year = c
        a.make = d
        a.model = e

In [22]:
nano27 = car(30, 2021, 35876, 's')

In [24]:
nano27.make

35876

In [39]:
class car:
    def __init__(a, milage, year, make, model):
        a.milage = milage
        a.year = year
        a.make = make
        a.model = model
    
    def age(b, current_year):
        return current_year-b.year

In [40]:
nano21 = car(30, 2021, 35876, 's')

In [41]:
nano21.age(2021)

0

In [46]:
class car:
    def __init__(a, milage, year, make, model):
        a.milage = milage
        a.year = year
        a.make = make
        a.model = model
    
    def age(b, current_year):
        return current_year-b.year
    
    def milage1(self):
        print ('print a milage car', self.milage)
        
    def  __str__(c): #self can be change with anything you want
        return "this is my car class i have creater"

In [47]:
nano21 = car(30, 2021, 35876, 's')

In [48]:
nano21.milage1()

print a milage car 30

In [49]:
nano21

In [50]:
print(nano21)

this is my car class i have creater

In [73]:
class student:
    def __init__(self, name, rollno, joining_date, current_topic):
        self.name = name
        self.rollno = rollno        
        self.joining_date = joining_date        
        self.current_topic = current_topic
    
    def name_parsing(self):
        if type(self.name) == list:
            for i in self.name:
                print("name of the student is", i)
        else:
            print("name of the student is not in list")
        
    def cret_topic(self):
        print("current topic discussed in my class is", self.current_topic)
        
    def str_rollno(self):
        if type(self.rollno)==str:
            print("do nothing")
        else:
            return str(self.rollno)
    
    def duration(self, current_date):
        return current_date - self.joining_date
    
    def __str__(self):
        return "this is a student class where they can input theys own data"

In [74]:
david = student("srini", 415119, 2017, "data science")

In [75]:
david.joining_date

2017

In [76]:
david.str_rollno()

'415119'

In [77]:
david.duration(2021)

4

In [78]:
david.cret_topic()

current topic discussed in my class is data science

In [79]:
tf = student(["fitra", "ningrum"], [415126, 411355], 2017, "Teknik Fisika")

In [80]:
tf.name_parsing()

name of the student is fitra
name of the student is ningrum

In [81]:
print(tf)

this is a student class where they can input theys own data

### real world example

In [85]:
class BonusDistribution:
    
    def __init__(self, employeeId, employeeRating):
        self.empId = employeeId
        self.empRating = employeeRating
        self.__bonusforRatingA = "70%"
        self.__bonusforRatingB = "60%"        
        self.__bonusforRatingC = "50%"        
        self.__bonusforRatingD = "30%"        
        self.__bonusforRatingForRest = "No Bonus"
        
    def bonusCalculator(self):
        if self.empRating == "A":
            bonus = self.__bonusforRatingA
            msg = "Bonus for {} : ".format(self.empId)+bonus
            return msg
        elif self.empRating == "B":
            bonus = self.__bonusforRatingB
            msg = "Bonus for {} : ".format(self.empId)+bonus
            return msg
        elif self.empRating == "C":
            bonus = self.__bonusforRatingC
            msg = "Bonus for {} : ".format(self.empId)+bonus
            return msg
        elif self.empRating == "D":
            bonus = self.__bonusforRatingD
            msg = "Bonus for {} : ".format(self.empId)+bonus
            return msg
        else:
            bonus = self.__bonusforRatingForRest
            msg = "Bonus for {} : ".format(self.empId)+bonus
            return msg

In [86]:
emp1 = BonusDistribution(415119, 'A')
emp2 = BonusDistribution(413215, 'C')
emp3 = BonusDistribution(442532, 'F')

In [87]:
emp1.bonusCalculator()

'Bonus for 415119 : 70%'

In [88]:
emp2.bonusCalculator()

'Bonus for 413215 : 50%'

In [89]:
emp3.bonusCalculator()

'Bonus for 442532 : No Bonus'

### what if we need to change the bonus

In [90]:
emp3._BonusDistribution__bonusforRatingForRest = '30%'

In [91]:
emp3.bonusCalculator()

'Bonus for 442532 : 30%'

#### But this approach is not a way to overwrite the variable

#### The correct way is to create function to rewrite the variable

In [92]:
class BonusDistribution:
    
    def __init__(self, employeeId, employeeRating):
        self.empId = employeeId
        self.empRating = employeeRating
        self.__bonusforRatingA = "70%"
        self.__bonusforRatingB = "60%"        
        self.__bonusforRatingC = "50%"        
        self.__bonusforRatingD = "30%"        
        self.__bonusforRatingForRest = "No Bonus"
        
    def bonusCalculator(self):
        if self.empRating == "A":
            bonus = self.__bonusforRatingA
            msg = "Bonus for {} : ".format(self.empId)+bonus
            return msg
        elif self.empRating == "B":
            bonus = self.__bonusforRatingB
            msg = "Bonus for {} : ".format(self.empId)+bonus
            return msg
        elif self.empRating == "C":
            bonus = self.__bonusforRatingC
            msg = "Bonus for {} : ".format(self.empId)+bonus
            return msg
        elif self.empRating == "D":
            bonus = self.__bonusforRatingD
            msg = "Bonus for {} : ".format(self.empId)+bonus
            return msg
        else:
            bonus = self.__bonusforRatingForRest
            msg = "Bonus for {} : ".format(self.empId)+bonus
            return msg
        
    def changeVariable(self, value):
        self.__bonusforRatingForRest = value

In [93]:
emp1 = BonusDistribution(415119, 'A')
emp2 = BonusDistribution(413215, 'C')
emp3 = BonusDistribution(442532, 'F')

In [94]:
emp3.bonusCalculator()

'Bonus for 442532 : No Bonus'

In [95]:
emp3.changeVariable('20%')

In [96]:
emp3.bonusCalculator()

'Bonus for 442532 : 20%'

with changing trough function we will never overwrite other variable (the example is `print()` function, if we change the variable inside we still can use the original `print()`for other)